@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding    : 0;
    margin     : 0;
    box-sizing : border-box;
    font-family: 'Poppins', sans-serif;
}

#navbar {
    /* position  : sticky; */
    top       : 0;
    left      : 0;
    z-index   : 100;
    padding   : .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0, 217, 255, 0.5);
    background: rgb(0, 0, 0);
}

.navbar .navbar-brand {
    font-size  : 25px;
    font-weight: 700;
    color      : aqua !important;
}

#navbarSupportedContent a {
    color: white;
}

#navbarSupportedContent a:hover {
    border-bottom: 2px solid aqua;
}

#navbarSupportedContent button {
    background   : aqua;
    border-radius: 8px;
}

/* home  */

section {
    width          : 100%;
    min-height     : 100vh;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

#home {
    background         : linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url("https://images.pexels.com/photos/598917/pexels-photo-598917.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size    : cover;
    background-position: center;
    flex-direction: column;
}

#home h1 {
    font-size     : 100px;
    color         : white;
    letter-spacing: 3px;
    font-family   : Cambria, Cochin, Georgia, Times, 'Times New Roman', serifs;
    text-shadow   : 0 1px 0 black,
        0 2px 0 black,
        0 3px 0 black,
        0 4px 0 black;
}
#home p{
    font-size: 20px;
    color:azure;
    padding-left: 15px;
}
/* #home .input-group{
    width: 40%;
    height: 45px;
    display: flex; */
    /* flex-direction: column; */
}
.login{
    background-color: aqua  !important;
    color: #000000 !important;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

/* about */

#about{
    background-image: linear-gradient(to right bottom, #ffffff, rgba(238, 231, 140, 0.808));
}
#about h1{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
}
#about p{
    text-align: justify;
    margin: 5px 20px 20px 20px;
}

/* price  */
#price{
    background-color: lightgrey;
#price . container {
    Padding-right: 15px;
}
#price h1{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
}
#price img{
    width: 200px;
    height: 200px;
}
.card{
    width: 300px;
    height: 350px;
    background: lightgrey !important;
    border: none !important;
    box-shadow: 15px 20px 20px rgba(0, 0, 0, .3),
    inset 4px 4px 10px #cfebd6;
    border-radius: 20px !important;
    overflow: hidden;
    justify-content: center; 
    align-items: center;
    margin: 20px 60px;
}
.card:hover{
    box-shadow: 15px 20px 20px #ff00004d,
    inset 4px 4px 10px #bdff07;
    transition: .2s;
}

/* contact  */

#contact img{
    height: 100%;
}

#contact .box{
    width: 100% !important;
}
input, textarea{
    margin: 10px 0 !important;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
    background-color: rgb(214, 252, 255) !important;
    display: flex;
    flex-direction: column;
}

.login{
    background: aqua !important;
    color: black;
    padding: 5px;
    margin: 10px;
    justify-content: center !important;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
}
.bttn{
    text-align: center;
}

 

footer{
    background-color: #000000 !important;
    color: white !important;
    padding: 20px;
}
footer p{
    text-align: justify;
}
footer h5{
    color: aqua;
}
